.slider ul {
    display: flex;
    padding: 0;
    width: 400%; /* Obligatorio para 4 fotos */
    animation: cambio 20s infinite; /* Asegúrate de que diga 'infinite' */
}

@keyframes cambio {
    /* Foto 1 */
    0% { margin-left: 0; }
    20% { margin-left: 0; }

    /* Transición a Foto 2 */
    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    /* Transición a Foto 3 */
    50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    /* Transición a Foto 4 */
    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}
